@model SummaryViewModel
@{
    ViewData["Title"] = "Summary";
}
<form method="post" style="width:100%">
    <div class="row">
        <div class="col-4" style="width:100%">
            <div hidden>
                <input class="hidden"asp-for="UserId" />
                <input class="hidden"asp-for="ApplicationUser.Id" />
            </div>
            <div class="col">
                <label asp-for="ERobotsCategory"></label>
                <input class="form-control" asp-for="ERobotsCategory" readonly />
                <span asp-validation-for="ERobotsCategory" class="alert-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Company"></label>
                <input class="form-control" asp-for="Company" readonly />
                <span asp-validation-for="Company" class="alert-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Country"></label>
                <input class="form-control" asp-for="Country" readonly />
                <span asp-validation-for="Country" class="alert-danger"></span>
            </div>
            <div class="col">
                <label asp-for="City"></label>
                <input class="form-control" asp-for="City" readonly />
                <span asp-validation-for="City" class="alert-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Adress"></label>
                <input class="form-control" asp-for="Adress" readonly />
                <span asp-validation-for="Adress" class="alert-danger"></span>
            </div>
            <div class="col">
                <label asp-for="ZipCode"></label>
                <input class="form-control" asp-for="ZipCode" readonly />
                <span asp-validation-for="ZipCode" class="alert-danger"></span>
            </div>
        </div>
        <div class="col-8">
            <div>
                <label asp-for="Description"></label>
                <textarea class="form-control" style="height:387px" asp-for="Description" readonly></textarea>
                <span asp-validation-for="Description" class="alert-danger"></span>
            </div>
        </div>
    </div>
    <div style="margin:10px 0 0 50%">
        <button class="btn btn-success" type="submit" asp-route-isOkay="@true">Submit</button> 
        <button class="btn btn-success" asp-action="Form" asp-controller="Form">Back</button>
    </div>
</form>