@model IEnumerable<EmployeeTaskViewModel>

@foreach (var employee in Model)
{
    <form method="post" class="form-check">
        <button type="submit" class="btn btn-outline-dark" asp-route-employeeId="@employee.EmployeeId">
        @employee.FirstName @employee.LastName</button>
    </form>
}
<div class="col-12">
    <a class="btn btn-danger" asp-controller="Home" asp-action="Contact">Cancel</a>
</div>
