@{
    ViewData["Title"] = "Description";
}

<h1 class="display-4">Complaint form</h1>
<form method="post">
        <h1>Describe your problem</h1>
        <textarea name="message" rows="10" cols="30">
            Here is place for your problem.
        </textarea>
        <select>
            <option value="">Select</option>
        </select>
</form>