@model ContactViewModel

@{
    ViewData["Title"] = "Contact Form";
}
<form method="post">
    <div asp-validation-summary="All" class="alert-danger"></div>
    <div class="row">
        <div class="form-group col-6">
            <label asp-for="Topic" class="form-check-label" style="width:100%">Topic</label>
            <input asp-for="Topic" class="form-control" style="width:100%" />
            <span asp-validation-for="Topic" class="border-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label asp-for="Message" style="width:100%">Message</label>
            <textarea row="10" asp-for="Message" style="width:100%" class="form-control" placeholder="Please contact with us."></textarea>
            <span asp-validation-for="Message"></span>
        </div>
    </div>

    <div class="row col-12">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home" style=" margin-right: 2.5px">Back</a>
        <button class="btn btn-primary" type="reset" style="margin-right: 2.5px; margin-left:2.5px">Reset</button>
        <button class="btn btn-primary" type="submit" asp-route-userName="@User.Identity.Name" style="margin-left: 2.5px">Submit</button>
    </div>

</form>