@model ReservedTimeViewModel

@{ 
    ViewData["Title"] = "Reverve time for maintain robots";
}

<form method="post">
    <label>Choose a date</label>
    <input type="date" asp-for="Date"/>

    <label>Choose start time</label>
    <input type="time" asp-for="Start" />

    <label>Choose finish time</label>
    <input type="time" asp-for="Finish" />

    <button type="submit">Submit</button>
</form>