@model IEnumerable<EmployeeTask>

@{
    ViewData["Title"] = "Display Form";
}
<div class="row">
    @foreach (var task in Model)
    {
        <form method="post" class="col-sm-6" style="margin-top:5px" >
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@task.Company</h5>

                        @if (task.Description.Length > 15)
                        {
                            <p class="card-text">@task.ToString().Substring(0, 15)...</p>
                        }
                        else
                        {
                            <p class="card-text">
                                @task.Description
                            </p>
                        }
                        <button type="submit" asp-route-id="@task.Id" class="btn btn-primary">Choose me!</button>
                    </div>
                </div>
            </div>
        </form>
    }
</div>
<div class="col-sm-6" style="margin-top: 5px">
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back</a>
</div>
