@model IEnumerable<FormModel>

@{
    ViewData["Title"] = "Display Form";
}
<div class="row">
    @foreach (var form in Model)
    {
        <form method="post">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@form.Company</h5>

                        @if (form.Description.Length < 15)
                        {
                            <p class="card-text">
                                @form.Description
                            </p>
                        }
                        else
                        {
                            <p class="card-text">
                                <button type="submit" asp-route-id="@form.Id" class="btn btn-link">Learn more...</button>
                            </p>
                        }
                        <button type="submit" asp-route-id="@form.Id" class="btn btn-primary">Choose me!</button>
                    </div>
                </div>
            </div>
        </form>
    }
</div>
