@model IEnumerable<FormModel>

@{
    ViewData["Title"] = "Display Form";
}
@foreach (var form in Model)
{
    <form method="post"> @*todo to read about optimization i.e what is better form or div towards data providing *@
        <label class="col-sm-2 col-form-label">Company name:</label>
        <div class="col-sm-10">
            <button class="page-link" type="submit" asp-route-id="@form.Id">@form.Company</button>
        </div>
    </form>
}
