@model EmployeeViewModel

@{
    ViewData["Title"] = "New Task";
}
<form method="post">
    <div class="row">
        <div>
            <div class="col-md-4">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" readonly />
                <span asp-validation-for="FirstName" class="alert-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" readonly />
                <span asp-validation-for="LastName" class="alert-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="NewTaskViewModel.Description"></label>
                <input class="form-control" asp-for="NewTaskViewModel.Description" readonly />
                <span asp-validation-for="NewTaskViewModel.Description" class="alert-danger"></span>
            </div>

        </div>
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="DisplayForm">Back</a>
</form>