@model NewTaskViewModel

@{
    ViewData["Title"] = "New Task";
}
<form method="post">
    <div class="col-md-4 mb-3">
        <label asp-for="Country"></label>
        <input class="form-control" asp-for="Country" readonly />
        <span asp-validation-for="Country" class="alert-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" readonly />
        <span asp-validation-for="City" class="alert-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="Country"></label>
        <input class="form-control" asp-for="Country" readonly />
        <span asp-validation-for="Country" class="alert-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" readonly />
        <span asp-validation-for="City" class="alert-danger"></span>
    </div>
    <div class="col-md-4 mb-3">
        <label asp-for="Adress"></label>
        <input class="form-control" asp-for="Adress" readonly />
        <span asp-validation-for="Adress" class="alert-danger"></span>
    </div>
    <button class="btn btn-success" type="submit">Save</button>
</form>
