@model IEnumerable<EmployeeTask>

@{
    ViewData["Title"] = "Employees Tasks";
}
<div class="row">
    @foreach (var task in Model)
    {
        <div class="grid-item" style="border: hidden">
            <a class="btn btn-outline-primary" asp-action="EmployeeTask" asp-controller="Employee" asp-route-id="@task.Id">@task.Company</a>
        </div>
    }
</div>
<div class="row">
    <a class="btn btn-success" asp-controller="Home" asp-action="Index" style="margin:0 auto 0 auto">Back</a>
</div>