@model IEnumerable<NotificationViewModel>

@{
    ViewData["Title"] = "Notifications";
}
<script scr="~/lib/jquery/dist/jquery.min.js"></script>
@foreach (var noti in Model)
{
    <div class="row">
        <label asp-for="@noti.NotiHeader"> </label>
        <input asp-for="@noti.NotiHeader" />
    </div>
}
@if (Model.Count() == 0)
{
    <h3>Sorry you did not have any notifications</h3>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification.js"></script>
