@model CompanyInfoViewModel
@{
    ViewData["Title"] = "Information";
}
<form method="post">
    <div class="form-row">

        <div class="col-md-4 mb-3">
            <label asp-for="Email">Email</label>
            <input class="form-control" asp-for="Email" placeholder="Email" readonly />
            <span asp-validation-for="Email" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" readonly />
            <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="CompanyName"></label>
            <input class="form-control" asp-for="CompanyName" readonly />
            <span asp-validation-for="CompanyName" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="NIP"></label>
            <input class="form-control" asp-for="NIP" readonly />
            <span asp-validation-for="NIP" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Regon"></label>
            <input class="form-control" asp-for="Regon" readonly />
            <span asp-validation-for="Regon" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Country"></label>
            <input class="form-control" asp-for="Country" readonly />
            <span asp-validation-for="Country" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="City"></label>
            <input class="form-control" asp-for="City" readonly />
            <span asp-validation-for="City" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Adress"></label>
            <input class="form-control" asp-for="Adress" readonly />
            <span asp-validation-for="Adress" class="alert-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="ZipCode"></label>
            <input class="form-control" asp-for="ZipCode" readonly />
            <span asp-validation-for="ZipCode" class="alert-danger"></span>
        </div>
        <button class="btn btn-success">Cancel</button>
    </div>
</form>