@model LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div class="form-group col-md-6">
        <label asp-for="Email" class="form-check-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="alert-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Password" class="form-check-label">Password</label>
        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="alert-danger"></span>
    </div>
    <div  class="form-group col-md-6">
        <div class="custom-checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <button class="btn-success  text-md-center" type="submit">Login</button>
</form>
