@model LoginViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group col-md-4">
        <label asp-for="UserName" class="form-check-label">UserName (your email)</label>
        <input asp-for="UserName" class="form-control" placeholder="Email" />
        <span asp-validation-for="UserName" class="alert-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Password" class="form-check-label">Password</label>
        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="alert-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <div class="custom-checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <button class="btn btn-success  text-md-center" type="submit">Login</button>
</form>
