@model IEnumerable<SentFormViewModel>
@{
    ViewData["Title"] = "Sent Forms";
}
@foreach (var form in Model)
{
    <div class="row">
        <div class="col-6">
            <label>@form.CreatedDate</label>
            <a class="btn btn-outline-info" asp-controller="Company" asp-action="CurrentForm" asp-route-formId="@form.FormId">Check me!</a>
        </div>
    </div>
}
